<!-- Base page for templates to extend -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <!-- Include all Stylesheets here -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/game_styling.css') }}">

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>

    <body>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>